# Dependencias
/node_modules
/.pnp
.pnp.js

# Carpeta de compilación de Next.js
/.next/
/out/

# Producción
/build

# Archivos de entorno (Contienen claves secretas)
.env*.local
.env
.env.production

# Logs de Firebase
.firebase/
**/*.log
firebase-debug.log*
firestore-debug.log*

# Otros
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
