# Dependencias
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Producción / Build
/.next/
/out/
/build
bin-debug/
obj/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Variables de entorno locales
.env
.env*.local

# Firebase
.firebase/
firebase-debug.log*
ui-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Genkit
.genkit/
